button{
          background:rgba(0,0,0,0.5);
          box-shadow: 0px 0px 15px 0px white;
          width:9.5%;
          height:135px
} 
button:hover {
	 background-color: #1d0040;
          cursor: pointer;
          box-shadow: 0px 0px 35px 0px white;
          border-radius: 20px;
}
button img{
          width:100%;
}

		.bg {
		  background-image: none;
                  background-color: #1a1920;
		  font-family: system-ui;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}
.button2 {
	color: white;
  background-color: transparent;
  height:inherit;
  width: inherit;
} 
.button2:hover {
  background-color:red;
          cursor: pointer;
          border-radius: 0px;
}



 
   
    
