html, body {
margin: 0;
height: 100%;
padding: 0;
overflow: hidden;
font-family: sans-serif;
font-size: 20px;
text-align: center;  
width: 100%;
overflow: hidden;
}

/* Button Animated Border on Hover */
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.btn-border {
  background-color: #c47135;
  border: none;
  color: #ffffff!important;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 10px 5px;
  outline: none;
  padding: 12px 30px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-border:before,
.btn-border:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.btn-border:before {
  border-color: #c47135;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.btn-border:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  bottom: -5px;
  right: 0px;
}

.btn-border:hover {
  background-color: #c47135;
}

.btn-border:hover:before,
.btn-border:hover:after {
  height: 100%;
  width: 100%;
}

.msgs {
 font-weight:bold;
 text-shadow: 4px 4px 4px black;
 font-size:17px;
}