button{
                  width:200px;
                  height:205px;
		  border-radius: 20px;
	          background-color: #048fa4;
} 
button:hover {
          box-shadow: 0px 0px 10px 10px #ffffff;
          border-radius: 20px;
	  background-color: #1da8bd;
}
button img{
          width:100%;
} 

		.bg {
                  background-image: url("euro.jpg");
		  background-color: #0D1117;
		  font-family: system-ui;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}
